{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block content %}
	<h1>mon panier</h1>
	{# {{dump(cart)}} #}

	<table class="table">
		<tdead>
			<tr>
				<th scope="col">Produits</th>
				<th scope="col"></th>
				<th scope="col">Quantités</th>
				<th scope="col">Prix</th>
				<th scope="col">Total</th>
			</tr>
		</tdead>
		<tbody>
			<tr>
				{% for product in cart %}
					{# {{dump (product)}} #}

					<th>
						<img src="/uploads/{{product.product.illustration}} " alt="{{product.product.illustration}}" height="75rem">
					</th>
					<td>
						{{product.product.name}}
					</td>
					<td>x
						{{product.quantity}}</td>
					<td>{{(product.product.price /100)|number_format(2, ',', '.')}}
						€</td>
					<td>
						{{((product.product.price * product.quantity) /100)|number_format(2, ',', '.')}}
						€</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
