{% extends 'base.html.twig' %}

{% block title %}Ajouter une addresse
{% endblock %}

{% block content %}
	<h1>Gérer mes addresses</h1>
	<a href="{{path('account_address')}}">Retour</a><br/>
	<hr>
	{{form_start(adresse)}}
	<div class="row">
		<div class="col-md-12">{{form_row(adresse.name)}}</div>
		<div class="col-md-6">{{form_row(adresse.firstname)}}</div>
		<div class="col-md-6">{{form_row(adresse.lastname)}}</div>
		<div class="col-md-6">{{form_row(adresse.company)}}</div>
		<div class="col-md-6">{{form_row(adresse.address)}}</div>
		<div class="col-md-6">{{form_row(adresse.postal)}}</div>
		<div class="col-md-6">{{form_row(adresse.city)}}</div>
		<div class="col-md-6">{{form_row(adresse.country)}}</div>
		<div class="col-md-6">{{form_row(adresse.phone)}}</div>
	</div>
	{{form_end(adresse)}}

{% endblock %}
