{% extends 'base.html.twig' %}
{% block title %}Modifier mon mot de passe - La Boutique Française
{% endblock %}
{% block content %}
	<h1>Modifier mon mot de passe
	</h1>
	<a href="{{path('account')}}">Retourner à mon compte</a>
	<hr>
	{# {% if notifications %}
									<div class="alert alert-info">
										{{notifications}}
									</div>
								{% endif %} #}

	{% for message in app.flashes('succes') %}
		<div class="alert alert-info">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('waring') %}
		<div class="alert alert-info">
			{{ message }}
		</div>
	{% endfor %}
	{{form(password)}}
		<hr>

	{% endblock %}
