{% extends 'base.html.twig' %}

{% block title %}PhoneCall - se connecter
{% endblock %}

{% block content %}
	<div class="block-small">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal">Merci de vous connectez</h1>
			<label for="inputEmail" class="mb-2">Votre email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Votre email" class="form-control mb-3" autocomplete="email" required autofocus>
			<label for="inputPassword" class="mb-2">Votre mot de passe</label>
			<input type="password" name="password" id="inputPassword" placeholder="votre mot de passe" class="form-control" autocomplete="current-password" required>

			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<br>
			<div class="d-grid gap-2">
			<button class="btn btn-lg btn-info btn-block mt-1" type="submit">
				Se connecter
			</button>
			</div>
			<hr>
			<p class="text-center">Ou souhaitez-vous
				<a href="{{path('register')}}">Créer un compte
				</a>
				?</p>
		</form>
	</div>
{% endblock %}
