{% extends 'base.html.twig' %}


{% block content %}
	<div class="row">
	{% for message in app.flashes('succes') %}
		<div class="alert alert-info">
			{{ message }}
		</div>
	{% endfor %}
		<div class="col-md-3">
			<h3>Filtrer</h3>
			{{form(recherche)}}
		</div>
			<div class="col-md-9">
				<h1>Nos produits</h1>
				<div class="row">
					{% for product in products %}
						<div class="card mt-3" style="max-width: 20rem;">
							<div class="row g-0">
								<div class="col-md-5">
									<a href="{{path('product', {'slug' : product.slug }) }} ">
									<img src="/uploads/{{ product.illustration}}" alt="" class="img-fluid rounded-start mt-2 mb-2"></a>
								</div>
								<div class="col-md-7">
									<div class="card-body">
										<h5 class="card-title">{{product.name}}</h5>
										<p class="card-text">{{ product.subtitle}}</p>
									</div>
								</div>
							</div>
								<div class="row align-items-end">
									<div class="card-footer d-flex justify-content-between">
										<small class="text-muted align-item-end">{{(product.price /100)|number_format(2, ',', '.')}}
											€</small>
										<a href="{{path('add_to_cart', {'id' : product.id})}}">
											<i class="fa-sharp fa-solid fa-cart-plus"></i>
										</a>
									</div>
								</div>
						</div>
					{% endfor %}
			</div>
			</div>
		</div>
	</div>
{% endblock %}
