{% extends 'base.html.twig' %}
{% block title %}
	{{product.name}}
	- phone call
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-5">
			<img src="/uploads/{{ product.illustration }}" alt="{{product.name}}" class="img-fluid">
		</div>
		<div class="col-md-7 my-auto">
			<h3>{{product.name}}</h3>
			<p>{{product.subtitle}}</p>
			<h5 class="product-page-price">
				{{(product.price /100)|number_format(2, ',', '.')}}
				€</h5>
			<hr>
			<p>{{ product.description}}
			</p>
			<a href=" {{path('add_to_cart', {'id' : product.id})}} " class="btn btn-primary text-center">Ajouter au panier</a>
		</div>
		<hr class="mt-3">
		<h3>Nos meilleurs ventes</h3>
<p>Découvrez les articles les plus vendus</p>
	<div class="row mt-4">
		{% for product in products %}
		<div class="col-md-3">
		{% include 'product/single_product.html.twig'%}
		</div>
			
		{% endfor %}
	</div>

	{% endblock %}
