<div class="card-deck">
	<div class="card">
	<div class="center">
		<a href="{{path('product', {'slug' : product.slug }) }}"><img class="img-content" src="/uploads/{{ product.illustration}}" alt="Card image cap"></a>
	</div>
		<div class="card-body text-center">
		<h5 class="card-title">{{product.name}}</h5>
		</div>
		<div class="card-footer d-flex justify-content-between">
			<small class="text-muted align-item-end">{{(product.price /100)|number_format(2, ',', '.')}}
				€</small>
			<a href="{{path('add_to_cart', {'id' : product.id})}}">
				<i class="fa-sharp fa-solid fa-cart-plus"></i>
			</a>
		</div>
	</div>
</div>
