{% extends 'base.html.twig' %}
{% block title %}Valider ma commande - La Boutique Française
{% endblock %}
{% block content %}
	<h2>Je passe ma commande</h2>
	<p>Choississez vos préférences avant de passer votre commande sur La Boutique Française.</p>
	<hr>
	<div class="row">
		<div class="col-md-6">
			{% set formHtml %}
			{{form_start(order, {action:path('order_recap')})}}
			<a href="{{path('account_address_add')}} ">Ajouter une nouvelle adresse</a>
			{{form_end(order)}}
			{% endset %}
			{{formHtml|replace({'[br]' : '<br/>'})|raw}}
		</div>
		<div class="col-md-6">
			<div class="text-center">
				<b>Récap de ma commande</b><br>
				<p>Retrouvez le récapitulatif de votre commande</p>
			</div>
			<div class="order-summary ">
				{% for key, produit in cart %}
					<div class="row {% if key > 0 %} mt-2 {% endif %} ">
						<div class="col-3">
							<div class="card" style="width: 4rem;">
								<img src="/uploads/{{produit.product.illustration}} " alt="{{produit.product.name}}">
							</div>
						</div>
						<div class="col-3 my-auto">{{produit.product.name}}
							<br>
						</div>
						<div class="col-2 my-auto">x
							{{produit.quantity}}
						</div>
						<div class="col-3 my-auto">
							{{(produit.product.price /100)|number_format(2, ',', '.')}} €
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}
